/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
 display: flex;
 flex-direction: column;
 height: 100vh;
}
/* utilities */
.text-center {
  text-align: center;
}
.ml {
  margin-left: 20px;
}
.mtb {
  margin: 13px 20px;
}
.img-small {
  width: 20px;
}
.white {
  color: #fff;
}
.pr {
  position: relative;
  top: 1px;
  left: 2px;
}
h4 {
 color: #737171;
 font-size: 8px;
 margin-top: 6px;
 font-weight: 400;
}
.mrl {
  margin-left: 7px;
}
.bradius {
  border-radius: 50%;
}
/* header */
.container header {
  display: flex;
  justify-content: space-between;
  background-color: #1e1f24;
}
.container header .logo {
  width: 250px;
  padding: 20px 0;
  background-color: #000000;
}
.container header .logo img {
  width: 100px;
}
.container header .logo img:nth-child(2) {
  display: none;
}
.upgrade button {
  line-height: 70px;
  margin-right: 15px;
  background-color: #1e1f24;
  border-color: #1e1f24;
}
.upgrade button a {
  border: 1px solid;
  border-radius: 15px;
  padding: 8px 25px;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: font-size 2s;
}
.upgrade button:hover {
  margin-right: 12px;

}
.upgrade button a:hover {
  font-size: 13px;
}
/* main */
.container main {
  flex-grow: 1;
  display: flex;
  background-color: #888;
}
/* side-bar */
.side-bar {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
.bordino {
  border-left: 2px solid green;
  padding-left: 16px;
}
.side-bar .home-playlist li:first-child{
  margin-left: 2px;
}
.side-bar .home-playlist {
  flex-basis: 40%;
  background-color: #000000;
}

.side-bar .home-playlist li {
  list-style: none;
}
.side-bar .home-playlist li img {
  position: relative;
  top: 3px;
}
.side-bar .home-playlist li a {
  font-size: 12px;
  text-decoration: none;
  color: #4c5a56;
}
.side-bar .home-playlist li a:hover,
.home-playlist li a i:hover {
  color: #d9d6d6;
}
.side-bar .home-playlist li span {
  position: relative;
  bottom: 3px;
}
#playlist {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin: 4px 18px;
}
.home-playlist li a i {
  padding: 5px;
  background-color: #cecece;
  color: #000;
}
.side-bar .account {
  /* flex-basis: 20%; */
  background-color: #000000;
  color: #4c5a56;
}
.side-bar .account:hover {
  color: #d9d6d6;
}
.side-bar .account .installa {
  max-width: 80%;
  font-size: 12px;
  border-bottom: 1px solid;
  padding: 10px 0;
}
.account .name {
  display: flex;
  margin-top: 10px;
}
.account .name img {
  background-color: #888;
  border-radius: 50%;
}
.account .name span {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.content {
  flex-grow: 1;
  background-color: #132939;
  position: relative;
}
.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 30px;

}
.content .menu {
  padding: 15px 0;
  background-color: #132939;
}
.content .menu ul {
  display: flex;
  justify-content: center;
}
.content .menu li {
  list-style: none;
  margin-right: 15px;
}
.content .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4c5a56;
  font-size: 12px;
}
.content .menu li a:hover {
  color: #d9d6d6;
}
.bordo {
  border-bottom: 2px solid green;
  padding-bottom: 2px;
}
.content .category-title h2 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-left: 7px;
}
.content .category-title ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-left: 7px;
}
.content .category-title li {
  flex-basis: calc((100% / 6) - 15px);
  margin: 15px 15px 15px 0;
  list-style: none;
  position: relative;
}
.content .category-title li img {
  max-width: 100%;
}
.content .category-title li h2,
.content .category-title li h4 {
  text-align: center;
  font-size: 10px;
}
.layover i {
  display: none;
}
.category-title li:hover .layover {
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.3);
 position: absolute;
 top: 0;
 left: 0;
}
.category-title li:hover .layover i {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  font-size: 50px;
  color: #fff;
}

/* footer */
.container footer {
  padding: 10px;
  background-color: #1e1b1b;
  position: relative;
  display: flex;
  justify-content: space-between;
}
footer .col-left {
  display: flex;
  height: 30px;
  flex-basis: 250px;
}
footer .col-left img {
  width: 40px;
  max-width: 100%;
}
.col-left .title h2 {
  color: #fff;
  font-size: 12px
}
footer h4:hover,
footer .heart i:hover {
  color: #d9d6d6;
}
.col-left .heart {
  color: #4c5a56;
}
footer .col-center {
  height: 30px;
  flex-basis: 40%;
}
.col-center .play ul,
.col-right ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.col-center .play li,
.col-right li {
  margin-left: 15px;
}
.col-center .play li a,
.col-right li a {
  color: #4c5a56;
}
.col-center .barra {
  position: relative;
}
.col-center .barra ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 3px;
}
.col-center .barra li,
.col-right li {
  font-size: 10px;
  color: #4c5a56;
}
.col-center .barra .linea:before {
  content: '';
  position: absolute;
  width: 530px;
  height: 2px;
  background-color: #4c5a56;
  left: 25px;
  top: 5px;
}
.col-center .barra .linea-small:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #cecece;
  left: 25px;
  top: 5px;
}
.col-center .barra .linea-small:hover::before {
  background-color: green;
}
.play li span i {
  transition: font-size 2s;
}
.col-center span:hover {
  font-size: 20px;
}
.col-center li i,
.col-right li i {
  color: #fff;
}
footer .col-right {
  height: 30px;
  flex-basis: 250px;
}
.col-right li {
  font-size: 16px;
}
.col-right .stanghetta:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #4c5a56;
  top: 16px;
}
.col-right .stanghetta-small:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #cecece;
  top: 16px;
  right: 72px;
}
.col-right .stanghetta-small:hover::before{
  background-color: green;
}

@media screen and (max-width: 991px) {
  .content .category-title ul {
    display: flex;
    flex-wrap: wrap;
  }
  .content .category-title li {
    flex-basis: calc((100% / 4) - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .container header .logo {
    width: 100px;
    padding: 5px 0;
  }
  .side-bar {
    flex-basis: 100px;
  }
  .content .category-title li {
   flex-basis: calc((100% / 2) - 15px);
   margin-right: 15px;
   margin-bottom: 15px;
  }
  .logo a img:first-child {
    display: none;
  }
  .container header .logo img:nth-child(2) {
    display: block;
    width: 20px;
  }
  .side-bar li span,
  .side-bar .account .installa span,
  .side-bar .account .name span {
    display: none;
  }
  #piu {
    display: none;
  }
  .side-bar .home-playlist li img {
    position: relative;
    top: -44px;
  }
}
